{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. Create a button in index.handlebars
that will submit the user input into the database. --}}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <center>
            <h1 class="display-4">Good Burger</h1>
            <p class="lead">Welcome to Good Burger, home of the Good Burger! Can I take your order?</p>
        </center>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <center>
                <h3>Burger's Available:</h3>
                <ul class="list-group">
                    {{#each burgers}}
                      {{#unless devoured}}
                       {{> burgers/burger-block devoured=true}}
                      {{/unless}}
                    {{/each}}
                </ul>
            </center>
        </div>
        <div class="col-md-6">
            <center>
                <form class="personalize">
                    <div class="form-group">
                        <h3>Personalize your Burger!!!</h3>
                        <label for="burgerForm"></label>
                        <textarea class="form-control" id="burgerForm" rows="4"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </center>
        </div>
        <div class="col">
            <center>
                <h3>Burger's Sold:</h3>
                <ul class="list-group">
                    {{#each burgers}}
                      {{#if this.devoured}}
                        {{> burgers/burger-block devoured=false}}
                      {{/if}}
                    {{/each}}
                </ul>
            </center>
        </div>
    </div>
</div>