<li class="list-group-item">
	<p class="text-center">{{burger_name}}</p>
	{{#if devoured}}
	<button class="purchased btn btn-outline-info btn-sm" data-id="{{id}}" data-neweaten="{{devoured}}">Purchase!
	</button>
	{{/if}}
</li>